#container{
    height:100%;
    /*background-color: rebeccapurple;*/
    /*cursor: none;*/
}

html {
    height: 100%;
    margin: 0px;
    overflow-y: hidden;
}
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.temp {
    color: rgba(68, 153, 255, 0.35);
}

#canvas {
    color: #704f38;
}
